<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title><block name="title"></block></title>
<load href="__Css__/base.css" />
<load href="__Js__/jquery.js" />
<block name="script">
</block>
</head>

<body>
<div class="header">
<block name="header">
</block>
</div>
</br>

<div class="nav">
<block name="nav">
</block>
</div>
</br>

<div class="container">
<block name="container">
</block>
</div>
</br>


<include file="User/Base/footer"/>
</body>
</html>
